<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for product in data_list %}
        <div style="border: 1px solid red;">
            <p>{{product.name}}</p>
        <p>{{product.description}}</p>
        <p>{{product.quantity}}</p>
        <a href="{%url 'Singleproduct' product.id %}">Show single</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>